*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.xdv
*:Zone.Identifier
.DS_Store

main_final.pdf

sources/text/*
!sources/text/.gitkeep
sources/user_notes/*
!sources/user_notes/.gitkeep
sources/translation_style/*
!sources/translation_style/.gitkeep
references/pdfs/*
!references/pdfs/.gitkeep
work/*
!work/.gitkeep
